#singlepage {
    /* background-color: #1da772; */
    width: 100%;
    height: 100vh;
    /* color: #fff; */
}

.nestiawanimg {
    width: 90%;
    height: 75vh;
    margin:50px auto;
}

.text-center-banner {
    margin:auto 0;
}

.text-center-banner > h2 {
    font-weight: 800;
    font-size: 4.4em;
    font-family:'Fredoka One', sans-serif;
    color: rgb(23, 194, 128);
}

.text-center-banner > p > b {
    color: rgb(23, 194, 128);
    font-size: 1.5em;
    font-family: 'Karla', sans-serif;
}

.text-center-banner > p > span {
    color: rgb(39, 39, 39);
    font-size: 1.3em;
    font-family: 'Karla', sans-serif;
}

.links {
    margin-top: 35px;
}

.links > a {
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(23, 194, 128);
    font-family: 'Karla', sans-serif;
    margin:10px 0;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s;
    border: 1px solid rgb(23, 194, 128);
}

.links > a:hover {
    text-decoration: none;
    color: rgb(44, 44, 44);
    background-color: transparent;
    border: 1px solid rgb(23, 194, 128);
}

.md-18 {
    font-size: 18px !important;
}

.vertical-midle-icon {
    vertical-align: middle;
    margin-top:-3px;
    margin-right: 4px;
}

.possition-relative {
    position: relative;
}

.partikel {
    width: 100%;
    height: auto;
}

.overflowHidden {
    overflow: hidden;
}

/* bullet style */

.bullet-1{
    width: 62em;
    background-color: rgb(23, 194, 128);
    height: 46em;
    border-radius: 100%;
    position: absolute;
    margin-top: -130px;
    overflow: hidden;
    transform: translate(-31vw, 4vh);
}

.bullet-2{
    width: 75em;
    background-color: rgb(23, 194, 128);
    height: 46em;
    border-radius: 35% 100%;
    position: absolute;
    margin-top: -130px;
    overflow: hidden;
    transform: translate(-40vw, -30vh);
    z-index: -999;
}

.text-center-banner > p{
    font-family: 'Karla', sans-serif;
}

.width-full {
    width: 100% !important;
}

.design-responsive-home {
    margin: 30vh 0;
    height: 100vh;
}

.design-responsive-about {
    margin: 6vh 0;
    height: 100vh;
}

.loader{
    width: 100%;
    height: 100vh;
    background-color:rgb(23, 194, 128);
    color: #fff;
    text-align: center;
}

.loader > h2 {
    margin: 9.2em 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    font-family:'Fredoka One', sans-serif;
}

.btn-back {
    width: 50px;
    margin-top: 20px;
    height: 50px;
    border-radius: 100%;
    background-color:rgb(23, 194, 128);
}

.btn-back > a > span {
    vertical-align: middle;
    margin: 12px 12px;
    color: #fff;
    font-size: 26px;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

.meIMG {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    margin: auto auto;
    margin-top:30px;
}

.meIMG  > img {
    width: 200px;
    height: 200px;
    border-radius: 100%;

}


@media (min-width: 900){
    #responsive-bullet {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .none {
        display: none;
    }

    .text-center-banner {
        flex: none !important;
        width: 100% !important;
    }

    .col-md-7 {
        flex: none !important;
        width: 100% !important;
    }
    .bullet-2{
        width: 75em;
        transform: translate(-40vw, 41vh);
        height: 25em;
    }
    body {
        overflow: hidden !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
  }

  @media (max-width:650px) {
    .text-center-banner {
        flex: none !important;
        width: 100% !important;
        padding:0 20px;
    }

    .text-center-banner > h2 {
        font-size: 2.6em;
    }

    .text-center-banner > p > b, .text-center-banner > p > span {
        font-size: 1em;
    } 

    .links > a {
        padding: 7px 16px;
        font-size: 0.9em;
    }

    .bullet-2{
        width: 75em;
        height: 25em;
        transform: translate(-40vw, 41vh);
    }
    body {
        overflow: hidden !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
        position: fixed;
    }
  }